<tr>
  <th scope="row"><%= booking_counter + 1 + @index %></th>
  <td><%= booking.room_name %></td>
  <td><%= format_date(booking.start_date) %></td>
  <td><%= format_date(booking.end_date) %></td>
  <td><%= number_to_currency(booking.room_price) %></td>
  <td><%= booking.customer_name %></td>
  <td><%= booking.status %></td>
  <% if booking.pending?%>
    <td>
      <%= link_to t("edit"), user_cancel_booked_path(id: booking.id),
                      method: :put,
                      data: {confirm: t("sure_cancel")} %> |
      <%= link_to t("cancel"), user_cancel_booked_path(id: booking.id),
                      method: :put,
                      data: {confirm: t("sure_cancel")} %>
    </td>
  <% else %>
    <td>
    </td>
  <% end %>
 </tr>
