<%= form_for([:room, @booking]) do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :start_date, t("start_date"), class: "label-booking" %>
      <%= f.date_field :start_date, value: @date_start, class: "form-control" %>
      <%= render "shared/error_messages", object: f.object , attr: :start_date %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :end_date, t("end_date"), class: "label-booking" %>
      <%= f.date_field :end_date, value: @date_end, class: "form-control" %>
      <%= render "shared/error_messages", object: f.object , attr: :end_date %>
    </div>
  </div>
  <%= f.fields_for :customer do |add| %>
    <div class="form-group">
      <%= add.label :name, t("name_cus"), class: "label-booking" %>
      <%= add.text_field :name, value: @current_user.name, class: "form-control" %>
    </div>
    <%= render "shared/error_messages", object: add.object , attr: :name %>
    <div class="form-group">
      <%= add.label :birthday, t("birthday"), class: "label-booking" %>
      <%= add.date_field :birthday, class: "form-control" %>
    </div>
    <%= render "shared/error_messages", object: add.object , attr: :birthday %>
    <div class="form-group">
      <%= add.label :address, t("address"), class: "label-booking" %>
      <%= add.text_field :address, class: "form-control" %>
    </div>
    <%= render "shared/error_messages", object: add.object , attr: :address %>
    <div class="form-group">
      <%= add.label :id_card, t("id_card"), class: "label-booking" %>
      <%= add.text_field :id_card, class: "form-control" %>
    </div>
    <%= render "shared/error_messages", object: add.object , attr: :id_card %>
  <% end %>
  <%= f.submit t("submit"), class: "btn btn-primary" %>
<% end %>
