<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
          <ul>
            <li><a href="#">Visit Us</a></li>
            <li><a href="#">Buy Tickets</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-6 header-top-right">
          <div class="header-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="index.html"><img src="/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li>
            <%= link_to t("home"), root_path %>
          </li>
          <li>
             <%= link_to t("rooms"), rooms_path %>
          </li>
          <li><%= link_to t("about"), root_path %></li>
          <li><%= link_to t("contact"), root_path %></li>
          <li class="menu-has-children"><a href=""><%= t("language")%></a>
            <ul>
              <li><%= link_to t("eng"), locale: :en %></li>
              <li><%= link_to t("vie"), locale: :vi %></li>
            </ul>
          </li>
          <% if logged_in? %>
            <li class="menu-has-children"><a href=""><%=current_user.name%></a>
              <ul>
                <li><%= link_to t("profile"), locale:"en" %></li>
                <li><%= link_to t("bookeds"), user_bookings_path(user_id: @current_user.id) %></li>
                <li><%= link_to t("logout"), logout_path %></li>
                <li><%= link_to t("admin"), admin_root_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t("login"), new_session_path %></li>
            <li><%= link_to t("register"), new_user_path %></li>
          <% end %>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->
